


#keypad {
    display: grid;
    grid-template: repeat(4, 5em) / repeat(3, 4em);
    margin-left: 40vw;
    margin-top: 15vw;
    text-align: center;
}

.text {
    background-color: darkgray;
    border-style: solid;
    font-size: x-large;
    color: white;
    border-color: black;
    padding-top: 1em;
    te
}