/*! Media Query Build */
/* 
    Common units of measurement:
        -Persentages - &
        -Viewport Width: vw
        -Veiwport Height: vh
        -Root Element Font-Size: rem;
        -Parent Font-Size: em;

        Using Media Queries
            ex:
                @media screen { <--- target screens only
                
                    div {  <--- element to adjust
                        background-color: blue;   <-attricute of element
                    }

                }

            AND
                @media screen and (min-width:750px) {

                }

            OR
                @media screen, (min-width: 750px) {

                }

        Build with Mobile FIrst concept!

 */

@media (max-width: 420px) {
  /*   body {
        background-color: lightgray;
    } */

/* global */
p {
    font-size: 16pt;
}

/* header */
nav ul {
    padding: 0;
}
nav ul li {
    font-size: x-large;
    margin: 0 1.5rem;
}

/* menu */
.item-desc {
    width: 100vw;
}

.desc {
    flex-direction: column;
    align-items: center;
}

.desc > p {
    padding: 1rem 3rem;
}
/* foot */
footer {
    

}


}        