body {
    background-color: lightgray;
    margin: 0;
}

nav {
    background-color: aquamarine;
    position: fixed;
    width: 100vw;
    top: 0;
    height: 3em;
}

nav ul li {
    list-style: none;
    display: inline;
    margin: 0 2em;
    float: left;
}

#brand {
    float: right;
}

#about {
    padding: 5em 2em;
    height: 100vw;
    background-color: lightgoldenrodyellow;
}

#shop {
    height: 100vw;
    background-color: lightslategray;
}
